[submodule "node_modules/pdf2pdf"]
	path = node_modules/pdf2pdf
	url = https://github.com/NeosIT/pdf2pdf.git
[submodule "node_modules/simplemail"]
	path = node_modules/simplemail
	url = https://github.com/NeosIT/simplemail.git
