lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Project specific stuff
.idea
build
docs
npm-debug.log
src/procs

# Ignore compiled coffeescript
src/*.js
src/test.coffee
src/*/*.js
src/web/js/*.js

# Ignore compiled stylus
src/web/theme/*.css

# Ignore all configs except the default
src/config/*.json
!src/config/default.json

# Modules
node_modules/.bin
node_modules/chokidar
node_modules/coffee*
node_modules/config
node_modules/connect*
node_modules/express
node_modules/jade
node_modules/nib
node_modules/stylus
node_modules/uglify*
node_modules/vows
node_modules/winston