lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Project specific stuff
.idea
build
docs
npm-debug.log
node_modules
src/procs

# Ignore compiled coffeescript
src/*.js
src/test.coffee
src/*/*.js
src/web/js/*.js
util/*.js
util/*/*.js

# Ignore compiled stylus
src/web/theme/*.css

# Ignore all configs except the default
src/config/*.json
!src/config/default.json