!!! 5
html
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title EnrichPDF Web
        // Styles
        link(rel="stylesheet", type="text/css", href="/theme/style.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="/js/lib/jquery.form.js")
    body
        block content