extends layout

block content
    script(src="/js/test.js")
    h2 Upload
    form(id="testForm", action="/job", method="POST", enctype="multipart/form-data")
        input(type="file", name="filepdf")
        button(type="button", onclick="send()") Send
    h2 Info
    span ID:
    input(id="reqID", type="text", value="")
    button(type="button", onclick="getInfo()") Info
    button(type="button", onclick="getPdf()") Download